* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  width: 100%;
  height: 100vh;
  background-color: #f0f5f5;
}

.appContainer.dark {
  background-color: #003366;
}

.headerContainer {
  background-image: url(./assets/bg-desktop-light.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.6rem;
}

.headerContainer.dark {
  background-image: linear-gradient(0deg, rgba(0, 51, 102, 0.5), rgba(0, 51, 102, 0.5)), 
  url(./assets/bg-desktop-light.jpg);
}

.header {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.headerContent img {
  cursor: pointer;
}

.formContainer {
  width: 100%;
  margin: 1rem auto 0;
  background-color: #fff;
  border-radius: 0.5rem;
}

.formContainer.dark {
  background-color: #000d1a;
}

.formContent {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  margin: 0 auto;
}

.formContent.dark {
  background-color: #000d1a;
}

.formInput.dark {
  background-color: #000d1a;
  color: gray;
}

input[type='text'] {
  width: 80%;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.formButton {
  width: auto;
  border: none;
  background-color: blue;
  color: #fff;
  padding: 0.9rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.formButton.dark {
  background-color: #003366;
  color: gray;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemsContainer {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
  top: -1.7rem;
}

.todoList.dark {
  background-color: #000d1a;
  color: #f0f5f5;
}

.filterNav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

.filterButton {
  border: none;
  background: none;
  font-size: 0.95rem;
  color: gray;
  cursor: pointer;
}

.filterButton:focus {
  /* color: #000; */
  font-weight: 600;
}

.cancel {
  color: blue;
  cursor: pointer;
}

.check {
  color: green;
  cursor: pointer;
}

.completedFont.completed {
  text-decoration: line-through;
  color: gray;
}

.delete {
  color: #ff6666;
  font-size: 1.5rem;
  cursor: pointer;
}

.itemLine {
  width: 100%;
  color: red;
}

.bottomCount {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.bottomCount button {
  border: none;
  background: none;
  color: gray;
  cursor: pointer;
}

.bottomCount button:focus {
  /* color: #000; */
  font-weight: 600;
}


@media (min-width: 600px) and (max-width: 800px) {
  .header {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .todoList {
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    position: relative;
    top: -1.7rem;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .header {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .todoList {
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    position: relative;
    top: -1.7rem;
  }
}

@media (min-width: 1025px) {
  .header {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .todoList {
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    position: relative;
    top: -1.7rem;
  }
}